[submodule "ThirdParty/Bolts/BoltsInClasspath/Bolts-ObjC-1.8.4"]
	path = ThirdParty/Bolts/BoltsInClasspath/Bolts-ObjC-1.8.4
	url = https://github.com/BoltsFramework/Bolts-ObjC.git
[submodule "ThirdParty/SBJsonSample/SBJson-framework"]
	path = ThirdParty/SBJsonSample/SBJson-framework
	url = https://github.com/stig/json-framework.git
